<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/amelia-bootstrap-theme.min.css" rel="stylesheet" />
    <!--<link href="Content/css/bootswatch.bootstrap.min.css" rel="stylesheet" />-->
    <link href="~/Content/css/site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="favicon.ico" rel="shortcut icon" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="navbar navbar-default">
        <div class="container" data-ng-controller="navigationController">
            <div class="navbar-header">
                <a id="logo" href="#" class="navbar-brand">FlickSome</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li><a href="~/Admin/Movies">Movies</a></li>
                        <li><a href="~/Admin/Reviews">Reviews</a></li>
                        <li><a href="~/Admin/Admin">Admins</a></li>
                    </ul>
                }

                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                </ul>

            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <hr />
    <footer class="container">
        FlickSome: <a href="http://www.flicksome.com" target="_blank">flicksome</a>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("Scripts", required: false)
</body>
</html>
