@using FlickSome.Web.Helpers.HtmlHelpers
@model IEnumerable<FlickSome.Web.Models.MovieModel>
@{
    ViewBag.Title = "Movies";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>
<div class="pull-right">    
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit")'">Add New Movie</button>
</div>
<br /><br />
<table class="table table-striped table-hover ">
    <thead>
        <tr class="active">
            <th>Title
            </th>
            <th>Release Date
            </th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@Html.ActionLink(@movie.Title, "Edit", "Movies", new { id = @movie.Id }, null)</td>
            <td>@movie.ReleaseDate.ToString("dd/MM/yyyy")</td>
            <td>@Html.ActionLink("Edit", "Edit", "Movies", new { id = @movie.Id }, null)</td>
            <td>@Html.ActionLink("Delete", "Delete", "Movies", new { id = @movie.Id }, null)</td>
        </tr>
    }
</table>
<div class="pull-right">
    @Html.BootstrapPager((int)ViewBag.CurrentPage, index => Url.Action("Index", "Movies", new { pageIndex = index }), (int)ViewBag.TotalCount, pageSize: (int)ViewBag.PageSize)
</div>
